name: Manage Custom Property Values

on:
  workflow_dispatch:
    inputs:
      org_name:
        description: 'Github ORG name'
        required: true
        type: string
        default: tobedeleted321

jobs:
  get-property-json:
    runs-on: ubuntu-latest
    if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup GitHub CLI
        env:
          GITHUB_OWNER: tobedeleted321
        run: |
          echo "${{ secrets.TOKEN }}" | gh auth login --with-token
      
      - name: Validate inputs
        env:
          ORG: ${{ github.event.inputs.org_name }}
        run: |
          NAME="custom_props.json"

          # Write the schema to a file
          echo "{" > "${NAME}"
          echo "  \"properties\":" >> "${NAME}"
          gh api /orgs/"${ORG}"/properties/schema | jq -r 'del(.[]|.["url","source_type"])' >> "${NAME}"
          echo "}" >> "${NAME}"
          cat custom_props.json
